NEXT_PUBLIC_SUPABASE_URL=https://jkorzdejalogbnyrftns.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imprb3J6ZGVqYWxvZ2JueXJmdG5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MTQ4OTYsImV4cCI6MjA5MDI5MDg5Nn0.PSXrwOTe0mcRsxzuVQJb7l4NKDkKsH44evpInYrid9E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imprb3J6ZGVqYWxvZ2JueXJmdG5zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDcxNDg5NiwiZXhwIjoyMDkwMjkwODk2fQ.ffF3rgwgE0mFGvBTZZXyr5ZquOMfU-CBPTBAzupZUlw
NEXTAUTH_SECRET=zerocgt_mon_super_secret_markowitz_2024
NEXTAUTH_URL=http://localhost:3000